APP_NAME=credit-risk-api
APP_ENV=dev

# Local run (outside Docker)
DATABASE_URL=postgresql+psycopg://credit_user:credit_pass@localhost:5435/credit_risk

# Postgres service config (Docker)
POSTGRES_IMAGE=postgres:16-alpine
POSTGRES_CONTAINER_NAME=credit-risk-postgres
POSTGRES_DB=credit_risk
POSTGRES_USER=credit_user
POSTGRES_PASSWORD=credit_pass
POSTGRES_HOST_PORT=5435
POSTGRES_VOLUME_NAME=pgdata
POSTGRES_INIT_DIR=./docker/postgres/init

# pgAdmin service config (Docker)
PGADMIN_IMAGE=dpage/pgadmin4:8
PGADMIN_CONTAINER_NAME=credit-risk-pgadmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin1234
PGADMIN_HOST_PORT=5050

# API service config (Docker)
API_CONTAINER_NAME=credit-risk-api
API_HOST_PORT=8000
DOCKER_DATABASE_URL=postgresql+psycopg://credit_user:credit_pass@postgres:5432/credit_risk
